:root {
    --primary-color: #bbb;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: lightgrey;
    --heading-font: "Times New Roman", "Georgia", "Serif";
    --body-font: "Arial", "Helvetica", "sans-serif";
}
:root{
    color-scheme: light dark;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    background-color: var(--accent2-color);
}


header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header img {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
}
header{
    background-color: var(--primary-color);
}

h2 {
    font-family: var(--heading-font);
    color: var(--primary-color)
}
@media screen and (min-width:600px) {
    
    body {

        background-color: var(--accent2-color);
    }
    h1{
        font-size: 2px;
        background-color: aliceblue;
        color: #470f0f;
    }
}

form {
    width: 650px;
    margin: 0 auto;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 /0.1);
    border-radius: 0.5rem;
    background-color: var(--accent2-color);
    display: grid;
}

p,
section,
article {
    margin: 16px;
    padding: 8px;
}


.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 800px;
    height: auto;
}

iframe {
    position: relative;
    padding: 10px;
}

.newsletter-container {
    position: relative;
    width: 95%;
    background-color: lightblue;
    color:var(--accent1-color) ;
    text-align: justify;
}

.figure {
    display: flex;
    align-items: center;
}

h1 {
    position: absolute;
    top: 10px;
    width: 95%;
    padding: 10px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article img {
    width: 125px;
    height: 125px;
    border: 1px solid skyblue;
    float: right;
    padding: 2px;
    box-shadow: 0 0 0 20px #fff;
    margin: 0 0 1rem 1rem;
}

header {
    display: grid;
    grid-template-columns: 100px 1fr 1fr 100px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.col p {
    color: black;
}

.socialmedia a img {
    width: 30px;
    height: 30px;
    padding: 2px;
    float: left;
}

table {
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
    font-family: sans-serif;
    font-size: 0.8rem;
    letter-spacing: 1px;
}

caption {
    caption-side: top;
    padding: 10px;
    font-weight: 700;
    font-style: italic;
}

thead {
    background-color: rgb(228 240 245);
}

thead th {
    background-color: #e2d6d6;
    color: #470f0f;
}

th,
td {
    border: 1px solid rgb(22, 13, 13);
    padding: 8px 10px;
}
footer p {
    text-align: center;
    font-size: 1rem;
    background-color: var(--primary-color);
    color: #111;
    padding: 1px;
    margin: 1px;
}