*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    color-scheme: light dark;
}
.open a {
    display: block;
}

nav ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

nav a {
    display: block;
    color: #000;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: larger;
}

nav a:hover {
    text-decoration: underline;
    background-color: #eee;
    color: black;
}

.active {
    color: yellow;
}

/* Larger Views ******************************/
@media (min-width: 740px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: beige;
    }

    nav ul {
        justify-content: flex-end;
        flex-direction: row;
    }

    nav a {
        flex: 1 1 100%;
    }
}
h1{
    text-align: center;
    background: lightblue;
    padding: 1rem;
    font-size: 3rem;
}