:root {
    --primary-color: #055a05;
    --secondary-color: #f4a261;
    --accent1-color: #264653;
    --accent2-color: #eee;
    --heading-font: "Times New Roman", "Georgia", "Serif";
    --body-font: "Arial", "Helvetica", "sans-serif";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
    background-color: var(--accent2-color);
}

:root {
    color-scheme: light dark;
}
.open a {
    display: block;
}

nav a {
    display: block;
    color: var(--accent1-color);
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: larger;
    display: flex;
    flex-direction: row;
}

nav a:hover {
    text-decoration: underline;
    background-color: #eee;
    color: black;
}

nav a:hover {
    text-decoration: underline;
    background-color: #eee;
    color: black;
}
.scenarios{
    color: black;
    font-size: large;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.active {
    color: yellow;
}

/* Larger Views ******************************/
@media (min-width: 740px) {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: beige;
    }

    nav ul {
        justify-content: flex-end;
        flex-direction: row;
    }

    nav a {
        flex: 1 1 100%;
    }
}
h1{
    text-align: center;
    background: lightblue;
    padding: 1rem;
    font-size: 3rem;
}
footer p {
    text-align: center;
    font-size: 1rem;
    background-color: #eee;
    color: var(--primary-color);
}