*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    background-color: #bbb;
    margin: 1rem;
    padding: 1rem;
    display: grid;
    grid-gap: 1rem;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 30px #333;
}
h2{
    text-align: center;
}
picture p{
    text-align: center;
    color: solid #000;
}
picture img{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 25px;
    place-items: center;
}
nav ul {
    list-style: none;
    display: flex;
    flex-direction: row;
}

nav a {
    display: block;
    color: #000;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    font-size: larger;
    background-color: #bbb;
}

nav a:hover {
    text-decoration: underline;
    background-color: #eee;
    color: black;
}

main {
    margin: 0 auto;
    width: 400px;
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
    background-color: #000;
    animation: fade 15s;
    display: flex;
    flex-direction: row;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
footer p {
    text-align: center;
    background-color: black;
    color: blanchedalmond;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}