* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Sansita", sans-serif;
}
span{
    display: block;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: lightgrey;
    padding: 1rem;
    font-size: 2rem;
    border: 1px solid rgb(0 0 0 / 10%);
    text-align: center;
}

h1 {
    background-color: #ddd;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    font-size: 2rem;
    text-align: center;
}
h2 {
    color: lightblue;
    padding: .5rem;
}

nav {
    background-color: #36454f;
    margin:auto;
}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

@media (min-width: 640px) {}
    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 0 auto;

    }
    footer {
            background:lightgrey;
            color: black;
            padding: 2%;
            text-decoration: none;
            text-align: center;
    }