* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header, main, footer{
    background: none;
    border-radius: 0%;

}

body {
    font-size: 16px;
    font-family: ubuntu, italic, sans-serif;
}

header {
    text-align: center;
    background-color: lightgray;
    padding: 1rem;
    color: black;
    font-size: 2rem;
}

h1 {
    background-color: #ddd;
    padding: 1rem;
    border: 1px solid bisque;
    font-size:2rem;
    text-align: center;
}

nav {
    background-color:#ddd;
    margin: 0 auto;
}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    color:black;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

.active {
    color: yellow;
}


@media (min-width: 640px) {}

nav ul {
    display: flex;
}

nav ul li {
    flex: 1 0 auto;

}
main{
    display:grid;
}

main img {
    width: 200px;
    height: auto;
    border: 1px solid steelblue;
    padding: 1px;
    float: right;
    align-items: center;
    margin:0;
}
h1{
    display:grid;

}

p {
    margin: 1px;
    text-align: left;

}

.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.left-section .right-section {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
}

aside {
    width: 20em;
    text-align: center;
    position: relative;
}

aside img {
    width: 300px;
    height: auto;
    float: left;
}

p {
    padding:0.8em;
}
footer p{
    text-align: center;
    background-color: lightgray;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}