
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 500px;
    background-color: none;
    color: black;
}
body {
    font-family: Roboto, helvetica, sans-serif;
}

header,
main,
footer {
    max-width: 760px;
    margin: 0 auto;
}

h1 {
    margin: 1rem;
    text-align: center;
    background-color: grey;
    font-size: 2rem;
}
main{
    display: grid;
}

form {
    background-color: #ddd;
    color: #111;
    align-items: center;
    padding: 2rem;
    box-sizing: content-box;
}
p {
    margin: 1rem;
}
h4{
    padding: 1rem;
}

footer{
    text-align: center;
    font-size: .8rem;
    background-color:grey;
    color: solid black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Verdana', 'sans-serif';
}
footer p{
    margin: 0;
    font-size: 15px;
}