* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 500px;
    color: black;
}

h1 {
    margin: 1rem;
    text-align: justify;
    }
h2{
    margin: 1rem;
    text-align: justify;
    font-size: 1rem;
    color: #111;
}

    form {
        background-color: #ddd;
        color: #111;
        display: block;
    }

    input,
    textarea,
    select,
    button{
        padding: .75rem;
        width: 350px;
    }

    button {
        background-color: navy;
        color: #fff;
        margin: 0 auto;
        display: block;
        border-radius: .5px;
        border: 1px solid rgb(0 0 0 /10%);

    }
    

    code {
        display: block;
        background: #000;
        color: #fff;
    }

    .box {
        margin: 1rem;
        border: 1px solid rgb(0 0 0 /10%);
        padding: 1rem;
    }

        input[type="radio"] {
            display: none;
            position: relative;
            caret-color: rgba(0, 0, 0, 0);
        }
    
        .stars {
            display: flex;
            flex-direction: row-reverse;
            justify-content: left;
        }
    
        .stars>label {
            color: #000;
            width: 30px;
            height: 30px;
            font-size: 2rem;
            margin-left: 5px;
            display: flex;
            align-items: center;
            caret-color: rgba(0, 0, 0, 0);
        }
    
        .stars>label:hover {
            color: #000;
        }
    
        .stars>label::before {
            content: "\2606";
        }
    
        .stars input:checked~label::before {
            content: "\2605";
}
        input[type="checkbox"] {
            position: relative;
            width: 1.5em;
            height: 1.5em;
            color: black;
            border: 1px solid black;
            border-radius: 4px;
            appearance: none;
            outline: 0;
            cursor: pointer;
            transition: 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
        }
           
    
        label {
            position: relative;
            cursor: pointer;
            font-size: 20px;
            font-weight: 600;
            padding: 0 0.25em 0;
            user-select: none;
           
        }

    @media(min-width:500px) {
        body {
        
        background-color:white;
        align-content: center;
    }

    }

footer p {
    text-align: left;
    font-size: 1rem;
    color: #000;
}