* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 500px;
    color: black;
}

h1 {
    margin: 1rem;
}

form {
    background-color: #ddd;
    color: #111;
}

input,
textarea,
select,
button{
    padding: .75rem;
    width: 350px;
}

button {
    background-color: navy;
    color: #fff;
    margin: 1rem;
    display: block;
    border-radius: .5px;
    border: 1px solid rgb(0 0 0 /10%);

}

code {
    display: block;
    background: #000;
    color: #fff;
}

.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 /10%);
    padding: 1rem;
}
input[type="radio"] {
    display: none;
    position: relative;
    caret-color: rgba(0, 0, 0, 0);
}

.stars {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.stars>label {
    color: brown;
    width: 30px;
    height: 30px;
    font-size: 2rem;
    margin-left: 5px;
    display: flex;
    align-items: center;
    caret-color: rgba(0, 0, 0, 0);
}

.stars>label:hover {
    color: #000;
}

.stars>label::before {
    content: "\2606";
}

input[type=checkbox] {
    margin-left: 10px;
}

#durability,
#ease,
#performance,
#design {
    width: 15px;
    height: 15px;
}

.vcentered {
    display: flex;
    align-items: center;
}

.inline {
    display: flex;
    flex-direction: row;
}

footer p {
    text-align: left;
    font-size: 1rem;
    color: #000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Verdana', 'sans-serif';
}
