* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    max-width: 500px;
    color: black;
}

h1 {
    margin: 1rem;
    text-align: justify;
    }

    form {
        background-color: #ddd;
        color: #111;
        display: block;
    }


    input,
    textarea,
    select,
    button {
        padding: .75rem;
        width: 350px;
    }

    button {
        background-color: navy;
        color: #fff;
        margin: 0 auto;
        display: block;
        border-radius: .5px;
        border: 1px solid rgb(0 0 0 /10%);

    }
    

    code {
        display: block;
        background: #000;
        color: #fff;
    }

    .box {
        margin: 1rem;
        border: 1px solid rgb(0 0 0 /10%);
        padding: 1rem;
    }

        input[type="radio"] {
            display: none;
            position: relative;
            caret-color: rgba(0, 0, 0, 0);
        }
    
        .stars {
            display: flex;
            flex-direction: row-reverse;
            justify-content: left;
        }
    
        .stars>label {
            color: #000;
            width: 30px;
            height: 30px;
            font-size: 2rem;
            margin-left: 5px;
            display: flex;
            align-items: center;
            caret-color: rgba(0, 0, 0, 0);
        }
    
        .stars>label:hover {
            color: #000;
        }
    
        .stars>label::before {
            content: "\2606";
        }
    
        .stars input:checked~label::before {
            content: "\2605";
}
        input[type="checkbox"] {
            position: relative;
            width: 1.5em;
            height: 1.5em;
            color: black;
            border: 1px solid gray;
            border-radius: 4px;
            appearance: none;
            outline: 0;
            cursor: pointer;
            transition: 175ms cubic-bezier(0.1, 0.1, 0.25, 1);
        }
            &::before {
                position: absolute;
                content: '';
                display: block;
                top: 2px;
                left: 7px;
                width: 8px;
                height: 14px;
                border-style: solid;
                border-color: white;
                border-width: 0 2px 2px 0;
                transform: rotate(45deg);
                opacity: 0;
            }
    
            &:checked {
                color: white;
                border-color: green;
                background:$green;
    
                &::before {
                    opacity: 1;
                }
    
                label::before {
                    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
                }
            }
        }
    
        label {
            position: relative;
            cursor: pointer;
            font-size: 1.5em;
            font-weight: 600;
            padding: 0 0.25em 0;
            user-select: none;
    
            &::before {
                position: absolute;
                content: attr(data-content);
                color: lightgray;
                clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
                text-decoration: line-through;
                text-decoration-thickness: 3px;
                text-decoration-color: black;
                transition: clip-path 200ms cubic-bezier(0.25, 0.46, 0.45, 0.94);
            }
        }

    @media(min-width:500px) {
        body {
        
        background-color:white;
        align-content: center;
    }
}

footer p {
    text-align: left;
    font-size: 1rem;
    color: #000;
}