
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
:root{
    --primary-color: yellow;
    --secondary-color:red;
}
body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2rem;
    padding: 1rem;
    background-color: var(--secondary-color);
    text-align: center;
    font-family: 'Acme', Arial, sans-serif;
    color: var(--primary-color);
}

.container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.left-section .right-section {
    flex: 1;
    padding: 20px;
    border: 1px solid #ccc;
}

@media(min-width:600px){
    body{
        background-color: lightblue;
    }
}

.hero-section picture{
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

.active::after {
content  :"";
}

footer p {
    text-align: center;
    font-size: 1rem;
    background-color:var(--secondary-color);
    color: var(--primary-color);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Verdana', 'sans-serif';
}