
*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2rem;
    padding: 1rem;
    background-color: lightblue;
    text-align: center;
    font-family: 'Acme', Arial, sans-serif;
    color: yellow;
}


  @media (max-width: 600px) {
      body {
          background-color: lightgray;
      }
  }